body {



}

#footer {
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

/* .nav-pills li {
	border: 1px solid #ccc;
    border-radius: 15px;
    max-width: 90%;
}

.nav-pills li:hover {
	background-color: #123456;
	border-radius: 15px;
}

.nav-pills span:not([class="caret"]) {
	color: black;
}

.dropdown-menu>li {
	border: 0px;
} */

.dropdown-submenu {
    position: relative;
}
 
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
 
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
 
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
 
.dropdown-submenu.pull-left {
    float: none;
}
 
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

a .fa {
    color: #575757;
}

.nav a {
    color: black;
}

/*#menu > ul > li > .dropdown-menu {
    margin-left: 100px;
    margin-top: -39px;
}*/

.item-menu-full {
    margin-left: 100px;
    margin-top: -44px;
}

.item-menu-shrink {
    margin-left: 40px;
    margin-top: -44px;
}